.header {
    background-color: #87CEFA; 
    color: #000000; 
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 2px 2px 10px #888888; 
    border-radius: 10px; 
    font-size: 0.8em;
}